
html{
  background-image: linear-gradient(rgb(117, 147, 236),rgb(248, 49, 165), rgba(255, 252, 101, 0.703),rgb(52, 103, 255));
  /* background-image: linear-gradient(rgb(117, 147, 236),rgb(255, 88, 186), rgba(255, 252, 77, 0.788),rgb(255, 20, 243), rgb(2, 196, 255)); */
}
.invisible{
  display: none;
}
.visibile{
  background-image: linear-gradient(rgb(117, 147, 236),rgb(179, 0, 255), rgba(0, 51, 255, 0.703),rgb(52, 103, 255));;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: xxx-large;
}
#alor{
}
.black{
  display: none;}






  .product-img {
    transition: transform 0.6s ease;
  height: 12.5rem;
  width: 28.125rem;
  }
  .product-img:hover {
    transform: translateY(-0.75rem);
  border: 0.075rem solid rgb(14, 255, 243);
  text-shadow: 0.0625rem 0.0625rem 0.1875rem;
  box-shadow: 0.5rem 0.5rem 3.25rem 0 rgb(29, 255, 225);
  backdrop-filter: blur(  1rem );
  -webkit-backdrop-filter: blur(  1rem );
  border-radius: 0.4375rem;
  }
/* .icon-cart{
  transform: translateY(-31.25rem);
} */
#buyPlace{
  height: 12.5rem;
  width: 28.125rem;
  transform: translateY(-0.625rem);
}
input{
background: rgba( 16, 240, 204, 0.6 );
box-shadow: 0 0.5rem 2rem 0 rgba(141, 143, 216, 0.241);
backdrop-filter: blur( 0.4375rem );
-webkit-backdrop-filter: blur( 0.4375rem );
border-radius: 0.625rem;
border: 0.0625rem solid rgba( 255, 255, 255, 0.18 );;
transition: 1s;
}
input:hover{
  background: rgba( 16, 240, 204, 1 );
  box-shadow: 0 0.5rem 2rem 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur(  1rem);
  -webkit-backdrop-filter: blur( 1rem );
  border-radius: 0.625rem;
  border: 0.0625rem solid rgba( 255, 255, 255, 0.18 );
}
/* 
.icon-cart:before {
  content: "\e93a";
} */
.iprice{
  color: rgb(0, 255, 0);
  font-weight:bold;
  font-size: xx-large;
  transition: text-shadow 0.5s;
  }
  .iprice:hover{
    text-shadow: 0rem 0rem 0.125rem rgb(0, 255, 0), 0rem 0rem 0.0625rem rgb(102, 255, 0) ;
  }














  

/* 
#lamborgeeneeimg{
  
} */

#lamborgeenee{
  transform: translateY(-0);
  /* z-index: 2; */
}
#house1{
padding-left: 32.5rem;
transform: translateY(0.4375rem);
margin-top: -19.1875rem;
font-size: 95%;;
}
#house1img{

}
#house2{
  transform: translateY(-0.5625rem);
}
#house2img{
}

#s25img{
  margin-left: -2.0625rem;
}
#s25{
  transform: translateY(-0rem);
  margin-left: 34.375rem;
  margin-top: -19.3125rem;
}
#iphone15{
  transform: translateY(-0.5625rem);
}
#iphone15img{
}
#RichLaptop{
  margin-left: 32.21875rem;
  margin-top: -19.375rem;
  transform: translateY(-0rem);
}
#RichLaptopimg{
}
#ps5{
  transform: translateY(-0.5625rem);
}
#ps5img{
}
#applewatch{
  margin-left: 32.21875rem;
  margin-top: -19.375rem;
  transform: translateY(-0.0625rem);
}
#applewatchimg{
}
#KNY{
  transform: translateY(-0.5625rem);
}
#KNYimg{
}
#harry{ 
  margin-left: 32.21875rem;
  margin-top: -19.3125rem;
  transform: translateY(-0.1875rem);
}
#harryimg{
}
#S7{
  position: absolute;
bottom: -73.5625rem;
}
#s7img{
}
#cube{
  margin-left: 32.21875rem;

  margin-top: -1.8125rem;
}
#cubeimg{

}
#ferrari{
  position: absolute;
  left: 64.09375rem;
  top: 13.125rem;
}
#ferrariimg{ 
}
#marc{
  position: absolute;
  left: 64.09375rem;
  top: 30.5625rem;
}
#marcimg{
}
#oxford{
  position: absolute;
  left: 64.09375rem;
  top: 48.4375rem;
}
#oxfordimg{
}
#yugi{
  position: absolute;
  left: 64.09375rem;
  top: 84.25rem;
}
#yugiimg{
}
  #harvard{
  position: absolute;
  left: 64.09375rem;
  top: 66.3125rem;
}
#harvardimg{ }
#addobe{
  position: absolute;
  left: 64.0625rem;
  top: 102.3125rem;
}
#addobeimg{
}

